<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}
  <div class="post">
    <div class="">
      <h2>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h2>
      <div class="">
        <p>
          {{post.article}}
        </p>
      </div>
      <p>Created by {{post.user.name}} on {{formatDate post.dateCreated}}</p>
    </div>

  </div>
{{/each}}